##### 점프 투 파이썬
---
02장 연습문제

> Q1    
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [1]:
국어 = 80
영어 = 75
수학 = 55
# 왼쪽   =  오른쪽
총점 = 국어 + 영어 + 수학
평균 = 총점 / 3

print("평균은 ", 평균, "입니다.")

평균은  70.0 입니다.

In [2]:
# 국어 점수
kor = 80
eng = 75
math = 55

total = kor + eng + math
avg = total / 3

print("avg =", avg)

avg = 70.0

In [10]:
print(type([]))
subjects = [80, 75, 55]
total = subjects[0] + subjects[1] + subjects[2]
avg = total / len(subjects)

print("avg =", avg)

<class 'list'>
avg = 70.0

In [14]:
subjects = [80, 75, 55]
total = sum(subjects)
avg = total / len(subjects)

print("avg =", avg)

avg = 70.0

In [19]:
subjects = {"국어":80, "영어":75, "수학":55}
total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)

print("avg =", avg)

avg = 70.0

In [20]:
# 사용자로부터 이름과 성적을 입력받아? 총점과 평균을 구해 출력하는
# 프로그램을 작성하시오.
name = input("이름을 입력하세요: ")
kor = input("국어 점수를 입력하세요: ")
eng = input("영어 점수를 입력하세요: ")
math = input("수학 점수를 입력하세요: ")

total = int(kor) + int(eng) + int(math) # str --> int
avg = total / 3

print(name, "님의 총점=", total, "평균=", avg, "입니다.")
print("%s님의 총점= %d, 평균= %f입니다." % (name, total, avg))
print("{}님의 총점= {}, 평균= {}입니다.".format(name, total, avg))
print(f"{name}님의 총점= {total}, 평균= {avg}입니다.")

# print("입력하신 이름은", name,  "입니다.")
# print(type(data))

1

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [23]:
# 사용자로부터 정수를 입력받아 홀짝수를 판별해주는 프로그램을 작성하시오.
# 짝수냐 홀수냐????
# "02468"
# "13579"
# 2n + 1, 2n -1

number = input("숫자를 입력하세요: ")
n = number[-1]
if n in "02468":
    print("짝수입니다.")
else:
    print("홀수입니다.")

if n == 1 or n == 3 or n == 5 or n == 7:
    print("홀수입니다.")

짝수입니다.

In [28]:
# all 참
0 < 3 and True and True and True and True and True and True and True and True

# any 참
100 < 200 or False or False or False or False or False or False or False

False

In [25]:
# 2n + 1, 2n -1
number = int(input("자연수를 입력하세요: "))

if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [31]:
pin = "881120-1068234"
yymmdd = pin[:5 + 1]
print(yymmdd)

881120

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [35]:
# 주민번호(13자리)를 입력받아 출생년도와 나이 성별을 출력해주는 프로그램을 작성하시오.

# 사용자 입력받기
pin = input("주민번호 13자리 입력: ")

# 출생년도 추출
yyyymmdd = pin[:6]

# 성별
gender = pin[6]

# 출생년도
year = ""

# 나이
age = 0

if gender in "12":
    year = '19'+ yyyymmdd[:1+1]
elif gender in "34":
    year = '20'+ yyyymmdd[:1+1]

age = 2022 - int(year) + 1

print("당신의 출생년도는 {}년".format(year))
print("당신의 나이는 {}세".format(age))
if int(gender) % 2 == 0:
    print("여성입니다.")
else:
    print("남성입니다.")

1

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [51]:
text = "a:b:c:d"
print(text)
print("a:b:c:d".replace(":", "#"))

tt = "12:03:21"
tt.replace(":", "/")

te = "Python Programming"
print(te.replace("Python", "Java"))

strs = "abcd"
print(strs, end=" ")
print(strs, end=" ")
print(strs)
print(strs)

for c in "abcd":
    print(c, end="-")

a:b:c:d
a#b#c#d
Java Programming
abcd abcd abcd
abcd
a-b-c-d-

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [61]:
li = [100, 30, 50, 40, 20, 95]
# li.reverse()
# print(li)
li.sort()
print(li)
li.reverse()
print(li)
max(li) == li[0]

[20, 30, 40, 50, 95, 100]
[100, 95, 50, 40, 30, 20]

True

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [65]:
old_text = ['Life', 'is', 'too', 'short']
# new_text = old_text[0] + " " + old_text[1] + " " + old_text[2] + " " + old_text[3]
# new_text = ""
# for s in old_text:
#     print(new_text)
#     new_text += s + " "

new_text = "{} {} {} {}".format(old_text[0],old_text[1],old_text[2],old_text[3])
print(new_text)

Life is too short

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [83]:
objects = ['a', 1, True, [100, ['x', 'y']]]
objects[3][1][1]

li = [1, 2, 3]
tu = (1, 2, 3)

li[0] = 100
print("li =", li)

# tu[0] = 100
print("tu =", tu)
type(tu)

li2 = [1, 2, 3, 4]
tu2 = tuple(li2)
print("tu2=", tu2)

li = [100, 2, 3]
tu = (1, 2, 3)
tu2= (1, 2, 3, 4)

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [ ]:
a = dict()
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[250] = 'python' 
print(a)
# a[[1]] = 'python'
print(a)

In [ ]:
text = "Python"
text[0] = 'J'
print(text)

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [99]:
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))
print(a)

80
{'A': 90, 'C': 70}

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [105]:
[1, 2, 3]
(1, 2, 3)
{'a':1, 'b':2, 'c':3}
{1, 2, 3}

se = {1, 2, 3, 3, 1, 2}
# print(se)

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a2 = set(a)
print(a)
print(a2)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [110]:
# a = b = [1, 2, 3]

a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))
print(id(b))
a[1] = 4
print(a)
print(b)

2123362651328
2123362319680
[1, 4, 3]
[1, 2, 3]